.orders-list {
    padding: $space-xxl;

}

.order {
    padding: $space-xl;
    margin-bottom: $space-xl;
    border-radius: $border-radius-m;

}



.order--done {
    background-color: $color-primary-10;
}

.order--active,
.order--confirmed {
    background-color: $color-success-20;

    .order__detail {
        margin-bottom: $space-xxl;
    }

    .btn {
        margin-left: auto;
    }
}


.order__title {
    padding-bottom: $space-l;
    font-size: $typo-size-m;
}