.profile {
    padding-top: $space-xxl;
}

.profile__info {
    padding: $space-xxl;
}

.profile__photo {
    height: $space-xxl*8;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    line-height: $space-xxl*8;
}

.profile__name {
    font-size: $typo-size-xl;

}