.cls-1 {
    fill: #ffee58;
}

.cls-2,
.cls-6 {
    fill: #0277bd;
}

.cls-3,
.cls-4,
.cls-5 {
    fill: none;
    stroke: #0277bd;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.cls-3 {
    stroke-width: 9.92px;
}

.cls-4 {
    stroke-width: 9.68px;
}

.cls-5 {
    stroke-width: 10px;
}

.cls-6 {
    font-size: 98.82px;
    font-family: DINRoundPro-Medi, DIN Round Pro;
    letter-spacing: -0.06em;
}

.cls-7 {
    letter-spacing: -0.03em;
}

.cls-8 {
    letter-spacing: -0.12em;
}

.logo__wrapper {
    padding-bottom: $space-xxl + $space-xl;

    img {
        display: block;
        margin: 0 auto;
        width: 316px;
        height: 168px;
    }
}