.front-page {
    color: $color-primary;
}

.control-side {
    flex-basis: 600px;
    height: 100vh;
    overflow-y: auto;
}

.app-logout {
    position: absolute;
    z-index: 1000;
    right: $space-xl;
    top: $space-xl;

}

.get-location {
    border-radius: 50%;

}

.stripe {
    padding: $space-xxl;
}