.btn {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;


    cursor: pointer;
    border-radius: $border-radius-m;

}

.btn-group {
    display: flex;
}

.btn-primary {
    background-color: $color-primary;
    color: $color-white;
}

.btn-transparent {
    color: $color-primary;
    background-color: $color-white;
    border: $border-width solid $color-primary;
}

.btn-l {
    font-size: $typo-size-m;
    font-weight: 500;

    &.half-w {
        padding: $space-s 0;


    }

    &.full-w {
        padding: $space-m 0;


    }
}

.btn-s {
    font-size: $typo-size-s;
    padding: $space-s $space-xl;
    width: fit-content;
}

.btn-danger {
    background-color: $color-error;
    color: $color-white;
}

.btn-success {
    background-color: $color-success;
    color: $color-white;
}