.store-prev {
    padding: $space-xl;
    margin-bottom: $space-xl;
    background-color: $color-primary-10;
    border-radius: $border-radius-m;
    color: $color-primary;
}

.store-prev__title {
    color: $color-primary;
    font-weight: 500;
    font-size: $typo-size-m;
    padding-bottom: $space-m;
}

.store-prev__wrapper {
    display: flex;
    justify-content: space-between;
}

.store-prev__info {
    padding-bottom: $space-xxs;
}