@import "./var.scss";
@import "./font.scss";
@import "../components/MainPage/MainPage.scss";
@import "../elements/Button/Button.scss";
@import "../components/AuthPage/AuthPage.scss";
@import "../elements/Logo/Logo.scss";
@import "../elements/Input/Input.scss";
@import "../components/StorePrev/StorePrev.scss";
@import "../components/PopularCities/PopularCities.scss";
@import "../components/OrderForm/OrderForm.scss";
@import "../elements/ModalMessage/ModalMessage.scss";
@import "../components/Map/Map.scss";
@import "../components/Order/Order.scss";
@import "../elements/LinkTab/LinkTab.scss";
@import "../elements/SearchBar/SearchBar.scss";
@import "../components/ProfileTab/Profile.scss";
@import "../components/CititesTab/City.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
}



.full-w {
    width: 100%;
}

.half-w {
    width: 50%;
}

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.fw500 {
    font-weight: 500;
}

.opacity-50 {
    color: $color-primary-50;
}

.to-floor {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}