.store {
    color: $color-primary;
}

.store__title {
    padding: 0 $space-xxl $space-m;
    font-size: $typo-size-xl;
}

.store__photos {
    display: grid;
    background-color: $color-primary;
    width: 100%;
    height: $space-xxl*6;
}

.store__info-wrapper {
    padding: $space-xxl $space-xxl 0;
}

.store__info {
    padding-bottom: $space-xl;


    .btn {
        align-self: flex-end;
        margin-left: $space-xxl;
    }
}

.store__info-title {
    color: $color-primary-50;
}

.store__total {
    font-size: $typo-size-m;
    font-weight: 500;
}