.tab-list {
    list-style: none;
    display: flex;
    width: 100%;
}

.tab__list-item {
    width: 100%;
    display: block;
    list-style: none;
    margin-bottom: -1px;
    padding: $space-xl 0;
    background-color: $color-primary-10;

}

.tab__list-item--active {
    background-color: $color-white;

}

.tab__icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: $space-s;

    svg {
        min-width: 34px;
        min-height: 34px;
        fill: $color-primary;
    }

}

.tab__label {
    text-decoration: none;
    color: $color-primary;
    text-align: center;
}

.tab__link {
    text-decoration: none;
}