.sign-form__input {
    margin-bottom: $space-xl;
}

.auth-container {
    padding: $space-xxl;
}

.signIllustration {
    flex-grow: 1;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%),
        url(../assets/dan-russo-737103-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}