.input {
    border: none;
    background-color: none;
    box-shadow: none;
    appearance: none;
}

.input__text {
    display: block;
    width: 100%;
    background-color: $color-grey-light;
    padding: $space-m;
    font-size: $typo-size-s;
    border-radius: $border-radius-m;
}

.input__number {
    color: $color-primary;
    font-size: $typo-size-m;

}

.label {
    margin-bottom: $space-s;

    font-size: $typo-size-s;
    color: $color-primary;
    font-weight: 500;
}

.label__num-inp {
    margin-right: $space-m;
}