* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.w600 {
    width: 600px;
}

.p40 {
    padding: 40px;
}

.p20 {
    padding: 20px;
}

/* 
.full-w {
    width: 100%;
} */