.popular-cities {
    padding: $space-m 0;
}

.popular-cities__item {
    padding: $space-xs $space-l;
    margin-right: $space-l;
    border: 2px solid $color-primary;
    border-radius: $border-radius-full;
    color: $color-primary;
    background-color: $color-white;

    &--active {
        color: $color-white;
        background-color: $color-primary;
    }
}